<div class="content">
  <div class="content__wrapper">
    <div class="content__head">
      <h2 class="content__head-title">アウトプット一覧</h2>
      <div class="content__head-add">
        <button
          mat-flat-button
          color="accent"
          class="content__head-add-button"
        >登録する</button>
      </div>
    </div>

    <div class="content__card">
      <mat-card *ngFor="let item of items" class="content__card-item">
        <mat-card-header>
          <mat-card-title>{{ item }} の学習アウトプット</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
            アウトプット内容が入ります。 アウトプット内容が入ります。
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">編集</button>
          <button mat-stroked-button color="warn" (click)="openDialog()">削除</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
