@import "size";

.content {
  padding: $space-l;
  height:  calc(100% - 56px);

  &__head-title {
    font-size:   20px;
    font-weight: bold;
  }

  &__form {
    width:  80%;
    margin: 64px auto 0;
  }

  &__form-desc {
    margin-bottom: 32px;
  }

  mat-form-field {
    display: block;
  }
}
