<nav class="content">
  <div class="content__wrapper">

    <!-- メニューリスト -->
    <ul class="content__list">
      <li class="content__item">
        <a href="/output" class="content__item-link">アウトプット一覧</a>
      </li>
      <li class="content__item">
        <a href="/output/add" class="content__item-link">アウトプット登録</a>
      </li>
    </ul>

    <!-- マイページ導線 -->
    <div class="content__my">
      <a href="/" class="content__my-link">マイページ</a>
      <a href="/" class="content__my-link">ログアウト</a>
    </div>

  </div>
</nav>
